* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
      font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: #1E212B;
}

header {
    min-width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}


main {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    padding: 0.5em 0.5em;
    text-align: center;
    border: rgb(77, 76, 76) solid 2px; 
    border-radius: 0.4rem;
    font-size: 20px;
    margin: 0.5em;
}



.Kalender-container {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.all-date-div{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.date {
    max-width: 20rem;
    min-width: 20rem;
    background-color: #474545;
    border-radius: .5rem;
    color: white;
    padding-top: .2em;
}


.search{
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
}

.flytta-höger{
    position: relative;
    font-size: 30px;
    cursor: pointer;
    padding: .5em .5em;
    transition: background, color .4s;
    border-radius: 50%;
    top: 0em;
    left: 0;
    }

.flytta-höger:hover {
    padding: .5em .5em;
    background:  #474545;
    border-radius: 50%;
    color: white;
}

#search-input{
    border-radius: 7px;
    border: none;
    width: 150px;
    padding: .2em .2em;
}

.popup-event{
    
    position: relative;
    bottom: 37rem;
    z-index: 1;
}
.event-btn{
    justify-content: end;
}
.event-done-btn{

    border: none;
    padding: 0.4em;
    
    
    
}

.event-content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: .25rem;
}

.close-contentbox-btn {
   background-color: unset;
   border: none;
   color: red;
   cursor: pointer;
   font-size: 2rem;
   margin: 2rem 0;
}

.flytta-höger{
    position: relative;
    animation-name: flytta;
    animation-duration: 4s;
}

@keyframes flytta{
    from {left: 0;}
    to {left: 5;}
}

#prev {
    display: block;
    border: none;
    padding: 0.3em 0.5em;
    font-size: 18px;
    background-color: rgb(71, 69, 69);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all .35s;
}

#prev > span {
    position: relative;
    z-index: 2;
}

#prev:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 3px;
    background: rgba(71, 69, 69);
    transition: all .35s;
}

#prev:hover {
    color: white;
}

#prev:hover:after {
    width: 100%;
}

#next {
    display: block;
    border: none;
    padding: 0.3em 0.5em;
    font-size: 18px;
    background-color: rgb(71, 69, 69);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all .35s;
}

#next > span {
    position: relative;
    z-index: 2;
}

#next:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 3px;
    background: #383838;
    transition: all .35s;
}

#next:hover {
    color: white;
}

#next:hover:after {
    width: 100%;
}
   
    

.all-week-days {
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5em;
}

.all-week-days > div {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    font-size: 16px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* .month-btn {
    border: none;
    padding: 0.3em 0.5em;
    font-size: 18px;
    background-color: rgb(71, 69, 69);
    color: white;
    border-radius: 5px;
    cursor: pointer;
} */


.date-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.date-container div {
    border:none;
    min-height: 3rem;
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-container > div > button {
    border: none;
    background-color: unset;
    cursor: pointer;
    font-style: normal;
}

.previous-month-cell,
.next-month-cell {
    background-color: rgb(205, 205, 205);
    color: white;
}

.date-container > .current-date {
    background-color: rgb(24, 152, 232);
    color: white;
}

.event-container {
    display: flex;
    justify-content: flex-end;
    width: 10rem;
    height: 10rem;
    background-color: hotpink;
}


.date-container > .red-day {
    background-color: red;
}

.blank-cell {
    opacity: 0;
}



/* Bakgrundsbilder till kalendern börjar här*/
.vår {
    background-image: url(/pictures/vår.png);
    background-size: cover;
}
.sommar {
    background-image: url(/pictures/sommar.jpeg);
    background-size: cover;
}
.höst {
    background-image: url(/pictures/fall-autumn-red-season.jpg);
    background-size: cover;
    
}

.vinter {
    background-image: url(/pictures/vinter.jpg);
    background-size: cover;
    background-position: center ;
}
/* Bakgrundsbilder till kalendern slutar här*/



/* toggle klasser nedan */
.hide-toggle {
    display: none;
}
/* toggle klasser slutar här*/



/* Footer här nedan*/
footer {
    color: white;
    text-align: center;
    min-width: 100%;
}
/* Footer slutar här */


/* Media Q här nedan*/
@media screen and (min-width: 480px) {
    .date-container div {
        height: 6rem;
    }
}

@media screen and (min-width: 768px) {
    .date-container div {
        height: 10rem;
    }
}
