*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

main{
  text-align: center;
  border: red solid 2px;
  font-size: 20px;
  padding: 1em 2em;
  margin: 2em;
}

.Kalender-container{
margin-bottom: 1em;
display: flex;
justify-content: space-around;
}
.all-week-days{
  margin-bottom: 0.5em;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;


}

.all-week-days > div {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: .25rem;
    }

.month-btn{
  border: none;
  padding: 0.3em 0.5em;
  font-size: 18px;
  background-color: rgb(71, 69, 69);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.date-container{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 1rem;
}

.date-container div{
border: solid 2px rgb(14, 14, 14);
height: 10rem;
border-radius: .25rem;

}